.tree {
    display: flex;
    justify-content: center;
}

.node-wrapper {
    position: relative;
}

.node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #91eeab;
    color: black;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.branch {
    position: absolute;
    background-color: black;
    width: 2px;
    height: 50px;
    transform-origin: bottom center;
}

.node:hover {
    background-color: lightgray;
}

.children {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.left-child,
.right-child {
    position: relative;
}

.left-child::before,
.right-child::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 40px;
    background-color: black;
    z-index: 0;
}

.right-child::before {
    left: unset;
    right: 50%;
    transform: translate(50%, -50%);
}

